:root {
  --script: "Kaushan Script", cursive;
  --thin: "Raleway", sans-serif;
  --thick: "Nanum Gothic", sans-serif;
}

.header h1 {
  font-family: var(--script);
  font-size: 10rem;
  color: rgb(240, 255, 255);
  letter-spacing: -0.4rem;
}

h1 {
  font-family: var(--script);
  font-size: 10rem;
  color: rgb(240, 255, 255);
  letter-spacing: -0.4rem;
}

h2 {
  font-family: var(--thick);
  color: azure;
}

h3 {
  font-family: var(--thin);
  color: azure;
}
