:root {
  --script: "Kaushan Script", cursive;
  --thin: "Raleway", sans-serif;
  --thick: "Nanum Gothic", sans-serif;
}

body {
  background-color: rgb(59, 64, 68);
  color: rgb(231, 231, 231);
  margin: 2rem;
}

h2 {
  font-family: var(--thick);
  color: azure;
}

h3 {
  font-family: var(--thin);
  color: azure;
}
