:root {
  --script: "Kaushan Script", cursive;
  --thin: "Raleway", sans-serif;
  --thick: "Nanum Gothic", sans-serif;
}

.html {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--script);
  font-size: 11.5vw;
  color: rgb(240, 255, 255);
  letter-spacing: -0.7vw;
  position: absolute;
  top: 5rem;
  width: 100%;
  margin-left: 0;
}

.header span {
  text-align: center;
  font-family: var(--thick);
  color: azure;
  font-size: 1.5vw;
  letter-spacing: 0.6vw;
  width: 100%;
  margin-top: -2vh;
}

#frame {
  z-index: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 3.5rem;
}

#frame img {
  width: 100vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--script);
    font-size: 15.5vw;
    color: azure;
    letter-spacing: -0.7vw;
    position: absolute;
    top: 5rem;
    width: 100%;
    margin-left: 0;
  }

  .header span {
    text-align: center;
    font-family: var(--thick);
    color: azure;
    font-size: 3.5vw;
    letter-spacing: 0.6vw;
    width: 100%;
    margin-top: -2vh;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--script);
    font-size: 11.5vw;
    color: azure;
    letter-spacing: -0.7vw;
    position: absolute;
    top: 5rem;
    width: 100%;
    margin-left: 0;
  }

  .header span {
    text-align: center;
    font-family: var(--thick);
    color: azure;
    font-size: 1.5vw;
    letter-spacing: 0.6vw;
    width: 100%;
    margin-top: -2vh;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
