body {
  background-color: rgb(59, 64, 68);
  color: rgb(231, 231, 231);
  margin: 2rem;
}

h1,
h2 {
  color: #ffffff;
}

img {
  width: 5rem;
}

#avatar {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  background-color: #ffffff;
  filter: grayscale(100);
}

#bio {
  margin-right: 2rem;
  color: #ffffff;
}

#text {
  width: 200px;
  font-size: small;
  font-weight: 100;
}

.container {
  display: flex;
}
.photoList {
  display: flex;
}

.header {
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
}

.header h2 {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

#userDashboard {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #b1b1b1;
  padding: 0rem 0.5rem 0rem 0.8rem;
  border-radius: 2px;
  margin-right: 2rem;
  width: 7rem;
}

button {
  margin: 0.5rem 0.5rem 0.5rem 0;
  color: #ffffff;
  border-width: 0px;
  font-size: 0.7rem;
  background-color: #b1b1b1;
  padding: 0.3rem;
  border-radius: 2px;
}

.upload_link {
  margin: 0rem 0rem 0rem 0;
  color: #b1b1b1;
  background-color: #ffffff;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  width: 7rem;
  cursor: pointer;
}

.fa-heart {
  margin-left: 0.1rem;
  color: rgb(97, 97, 97);
  font-size: 0.7rem;
}

.photos {
  display: flex;
  flex-wrap: wrap;
}

img.static-photo {
  max-width: 20%;
  position: absolute;
  right: 0;
}

.photo .thumbnail {
  margin: 1rem;
  max-width: 10rem;
  min-width: 7rem;
  border: none;
}

#logo {
  height: 51px;
  width: 241px;
}

a {
  color: #0b63b6;
}

.manipulation-video {
  margin: 10px 0;
}

.actions {
  margin: 20px 0;
}

.header {
  max-width: 95vw;
}

.toggle_info {
  margin-top: 10px;
  font-weight: bold;
  color: #e62401;
  display: block;
  cursor: help;
}

.thumbnail_holder {
  height: 182px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.note {
  margin: 20px 0;
}

.inline {
  display: inline-block;
}

td {
  vertical-align: top;
  padding-right: 5px;
}

.back_link {
  font-weight: bold;
  display: block;
  font-size: 16px;
  margin: 10px 0;
}

#direct_upload_jquery,
#direct_upload {
  box-sizing: content-box;
}

#direct_upload_jquery,
#direct_upload {
  padding: 20px 20px;
  margin: 20px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#direct_upload_jquery h1,
#direct_upload h1 {
  margin: 0 0 15px 0;
}

.back_link {
  font-weight: bold;
  display: block;
  font-size: 16px;
  margin: 10px 0;
}

form {
  border: 1px solid #ddd;
  margin: 15px 0;
  padding: 15px 0;
  border-radius: 4px;
}
form .form_line {
  margin-bottom: 20px;
}
form .form_controls {
  margin-left: 180px;
}
form label {
  float: left;
  width: 160px;
  padding-top: 3px;
  text-align: right;
}
form .error {
  color: #c55;
  margin: 0 10px;
}

#direct_upload.dragover {
  border-color: #0c0;
}
#direct_upload.dragover-err {
  border-color: #c00;
}

.upload_details {
  font-size: 12px;
  margin: 20px;
  /* border-top: 1px solid #ccc; */
  word-wrap: break-word;
}
.upload_button_holder {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload_button {
  display: inline-block;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  background-color: rgb(15, 97, 172);
  color: #fff;
  padding: 5px 0;
  border: 1px solid #000;
  border-radius: 4px;
  width: 100px;
  height: 18px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.upload_button_holder .upload_button {
  display: block;
}

.upload_button_holder input {
  display: none;
}

.upload_button:hover {
  background-color: rgb(17, 133, 240);
}
.upload_button_holder .cloudinary_fileupload {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
.progress-bar {
  width: 100px;
  position: relative;
  height: 4px;
}
.progress-bar .progress {
  height: 4px;
  background-color: #ff0000;
  width: 0;
}
.preview img,
.preview audio,
.preview video {
  max-width: 300px;
  max-height: 150px;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .photoList {
    display: flex;
    flex-direction: column;
  }
  #Userdashboard {
    display: flex;
  }

  #userDashboard {
    display: flex;

    font-size: small;
    background-color: #ffffff;
    color: #b1b1b1;
    padding: 0rem 0.5rem 0rem 0.8rem;
    border-radius: 2px;
    margin-left: 2rem;
  }

  #text {
    width: 350px;
    font-size: small;
    font-weight: 100;
  }
}
