body {
  background-color: rgb(59, 64, 68);
  color: rgb(231, 231, 231);
  display: flex;
  justify-content: center;
}

h1,
h2 {
  color: #ffffff;
}

.photos img {
  width: 4rem;
}

#avatar {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  background-color: #ffffff;
  filter: grayscale(100);
  /* margin-top: 8rem; */
}

#avatar img {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  background-color: #ffffff;
  filter: grayscale(100);
  width: 5rem;
}

#bio {
  /* margin-right: 2rem; */
  color: #ffffff;
  margin-left: 2rem;
}

#text {
  width: 400px;
  font-size: small;
  font-weight: 100;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.photoList {
  display: flex;
  justify-content: center;
}

.header {
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  position: absolute;
  letter-spacing: 0.1rem;
  top: -1rem;
}

.actions button {
  color: #b1b1b1;
  padding: 0rem 0.5rem 0rem 0.8rem;
  border-radius: 2px;
  margin-top: 8rem;
  margin-left: -5rem;
  margin-right: 3rem;
  width: 7rem;
}

#buttons h3 {
  font-size: 1rem;
}

button {
  margin: 0.5rem 0.5rem 0.5rem 0;
  color: #ffffff;
  border-width: 0px;
  font-size: 0.7rem;
  background-color: #b1b1b1;
  padding: 0.3rem;
  border-radius: 2px;
}

.upload_link {
  margin: 0rem 0rem 0rem 0;
  color: #b1b1b1;
  background-color: #ffffff;
  font-size: 1rem;
  width: 7rem;
  cursor: pointer;
  left: 1rem;
}

#buttons {
  font-size: 2rem;
}
.photos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8rem;
  width: 70%;
  margin-left: 1rem;
}

img.static-photo {
  max-width: 20%;
  position: absolute;
  right: 0;
}

.photo .thumbnail {
  max-width: 10rem;
  min-width: 7rem;
  border: none;
  margin: 0.4rem;
}

.header {
  max-width: 95vw;
}

.thumbnail_holder {
  height: 182px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.upload_details {
  font-size: 12px;
  margin: 20px;
  /* border-top: 1px solid #ccc; */
  word-wrap: break-word;
}
.upload_button_holder {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    padding: 0%;
  }
  .photoList {
    display: flex;
    flex-direction: column;
  }

  #avatar {
    display: flex;
    justify-content: center;
    border-radius: 2px;
    background-color: #ffffff;
    filter: grayscale(100);
    margin-top: 4rem;
  }
  #text {
    width: 350px;
    font-size: small;
    font-weight: 100;
  }

  .photos {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 1rem; */
    width: 100%;
  }

  .upload_link {
    color: #c51d1d;

    font-size: 1rem;
    width: 7rem;
    cursor: pointer;
  }
}
